body{
    display : flex;
    align-items : center;
    font-size : 25px;
    margin : 20px;

}

#homepage_id{  
    margin : auto;
    margin-top : 105px;
    margin-bottom : 111px;
    border : 3px black solid;
    width: 1500px;
    height: 822px;
    background-color: rgb(182, 186, 197);
}

.nav_bar{
    background-color: #f5f5dc;;
    border : 2px black solid;
    display : flex;
    flex-direction : row;
    justify-content : end;
    padding-right : 20px;
    margin-bottom : 40px;
}



#skills_content{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : start;
    border : 3px black solid;
    height: 200px;
    width : 900px ;
    padding : 15px;
    padding-left : 30px;
    background-color: #f5f5dc;
    border-radius : 10px;
    margin : auto;
    margin-bottom: 40px;
    display : none;
}

#skills_content button{
    font-size : 22px;
    border-radius : 6px;
    position: relative;
    left: 402px;
    
}

#skills_content.show{
    display : flex;
}

#intro_content{
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction : column;
    border : 3px black solid;
    width : 900px;
    height : 470px;
    max-width : 100%;
    background-color: #f5f5dc;
    padding-left : 20px;
    padding-right : 20px;
    margin : auto;
    position : relative;
    border-radius : 10px;
}
#profile_picture{
    position : absolute;
    inset-inline-start: 110px; /*move horizontically */
    inset-block-start: 110px; /*move vertically */
    width : 200px;
    height : auto;
}

#graphic_design{

    margin-bottom : 0;
    margin-bottom : 13px;
}
#name{
    margin-top : 15px;
    margin-bottom : 60px;
}
#abtme_content{
    display : flex;
    text-align : center;
    margin-top : 10px;
    width : 800px;
}

.contact_me{
    display : flex;
    justify-content : center;
    flex-direction : column;
    padding : 10px;
    width : 330px;
    position : relative;
    left : 1150px;
}

#contact1{
    margin-bottom: 0;
    margin-top: 0;
}